.noteCard {
  min-height: 116px;
  padding: 16px;
  padding-right: 24px;

  box-sizing: border-box;
  font-variant-ligatures: none;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;

  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition-duration: 0.218s;
  transition-duration: 0.218s;
  -webkit-transition-property: background, border, opacity, -webkit-box-shadow,
    -webkit-transform;
  transition-property: background, border, opacity, box-shadow, transform;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;

  background-color: #fff;
  border-color: #e0e0e0;

  position: relative;

  &:hover,
  &:active {
    .pinIcon,
    .archiveIcon,
    .editIcon {
      display: block;
    }
  }
}

.pinIcon,
.archiveIcon,
.editIcon {
  display: none;
  position: absolute;
  right: 8px;
}

.pinIcon {
  top: 4px;
}

.archiveIcon {
  top: 40px;
}

.editIcon {
  top: 76px;
}
