.noResults {
  display: flex;
  justify-content: center;
  color: var(--section-header);
  margin-top: 30vh;
}

.createFromWrapper {
  width: 500px;
  margin: 0 auto;
}

@media screen and (width < 600px) {
  .createFromWrapper {
    width: 100%;
  }
}
