.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 24px;
}

.header {
  color: #5f6368;
  opacity: 1;
  display: inline-block;
  font-size: 22px;
  line-height: 24px;
  padding-left: 8px;
  padding-top: 4px;
  position: relative;
  vertical-align: middle;
}
