.header {
  height: 64px;
  padding: 8px;
  background: var(--background);
  top: 0;
  display: flex;
  align-items: center;
  box-shadow: var(--header-border);
  margin-bottom: 8px;
  position: sticky;
  z-index: 2;
}

.searchWrapper {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
